/native/include/hl.h
/native/include/steam/*.h
/native/lib/*
/native/obj
/native/all_objs
/native/*.pdb
/obj
/ndll
temp/
/Release
/Debug
*.VC.*
*.user
/.vs
/*.hl

/ReleaseVS2013

*.sdf
/steam_appid.txt

/example/gameserver.hl

/example/steam_appid.txt
